:root {
  --no1: #464660;
  --no2: #368B85;
  --no3: #B4B897;
  --no4: #F1E9E5;
}

body{
  font-family: 'Chakra Petch';
  background-color: var(--no1);
  color: var(--no4);
  font-size: 20px;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

img { color: orange; text-align: center; }

hr{
  border: none;
  border-top: 1px solid white;
}

/* HEADER */

section{
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.fixed-header{
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1200px;
  z-index: 10;
}

.header{
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--no1);
}

.logo{
  font-family: 'Anton', sans-serif;
  font-size: 35px;
  font-weight: bold;
}
.logo a{
  color: var(--no4);
}
.logo a:hover{
  text-decoration: none;
  color: var(--no3)
}
/* SEARCH */

.search-icon{
  height: 100%;
  box-sizing: border-box;
  border-radius: 100%;
  padding: 12px 12px;
  cursor: pointer;
  color: white;
}

.search-icon:hover{
  background-color: rgba(0,0,0,.2)
}

.big-search{
  min-width: 150px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  box-sizing: border-box;
  border: 2px solid var(--no2);
  border-radius: 35px;
  margin-top: 10px;
  background-color: #58586F;
  color: white;
  padding: 15px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.big-search:hover, .big-search:focus{
  outline: none;
  border: 2px solid var(--no3);
}

/* LOGIN */

.user-login{
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-btn{
  font-weight: bold;
  border: none;
  font-size: 20px;
  background-color: var(--no2);
  color: var(--no4);
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.login-btn:hover{
  background-color: var(--no4);
  color: var(--no2);
}

.user-head{
  display: none;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.user-image{
  height: 40px;
  width: 40px;
  border: 2px solid var(--no4);
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}
.user-image:hover{
  border: 2px solid var(--no2);
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-menu{
  display: none;
  position: absolute;
  background-color: var(--no2);
  border-radius: 5px;
  min-width: 200px;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-menu{
  display: block;
}

.dropdown-menu-item{
  padding: 10px;
  color: var(--no4);
  border-radius: 5px;
}
.dropdown-menu-item:hover{
  background-color: var(--no4);
  color: var(--no1);
}
.dropdown-menu a{
  text-decoration: none;
}

.nonuser-head{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}


.setting-div{
  padding: 15px 0px;
}

span.delete{
  float: right;
  align-self: center;
  background-color: red;
  color: white;
  padding: 5px 7px;
  border-radius: 4px;
  cursor: pointer;
}
span.delete:hover{
  background-color: darkred;
  color: white;
}

span.download{
  float: right;
  background-color: green;
  color: white;
  padding: 5px 7px;
  border-radius: 4px;
  cursor: pointer;
}
span.download:hover{
  background-color: darkgreen;
  color: white;
}

.user-handler{
  display: flex;
  justify-content: space-around;
}
.wish{
  padding: 10px;
  color: var(--no4);
  background-color: rgba(0,0,0,0.3);
  border-radius: 5px;
  border: 1px solid #3f3f56;
  cursor: pointer;
  margin: 0px 10px 10px 10px;
}
.wish:hover{
  background-color: rgba(0,0,0,0.7);
}


/* PROFILE */

.user-profile{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.profile-left{
  width: 30%;
  background-color: #3f3f56;
  padding: 10px;
  height: 100%;
  border-radius: 5px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-right{
  width: 70%;
  background-color: #3f3f56;
  padding: 10px;
  height: 100%;
  border-radius: 5px;
  margin: 2px;
}

.user-profile-image{
  max-height: 200px;
  max-width: 200px;
  height: 100%;
  width: 100%;
  border: 2px solid var(--no4);
  border-radius: 50%;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.5);
  margin: 10px auto;
}

.profile-name{
  font-weight: bold;
  font-size: 25px;
  margin: 10px 0px;
}
.profile-menu{
  width: 100%;
}

.wishlist{
  display: none;
}
.watched{
  display: none;
}
.settings{
  display: none;
}
.content-holder{
  padding: 10px;
}

.menu-item{
  padding: 10px;
  color: var(--no4);
  background-color: var(--no1);
  border-radius: 5px;
  border: 1px solid #3f3f56;
}
.menu-item:hover{
  background-color: var(--no4);
  color: var(--no1);
}

.movie-menu-item{
  padding: 10px;
  color: var(--no4);
  background-color: var(--no1);
  border-radius: 5px;
  border: 1px solid #3f3f56;
}

.movie-overview{
  border: none;
  padding: 0px 15px 15px 15px;
  text-align: justify;
}
.movie-overview h4{
  margin-bottom: 10px;
}

.section-header span{
  background-color: var(--no2);
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 13px;
  float: right;
}

.section-header span.green{
  color: lightgreen;
}
.section-header span.orange{
  color: orange;
}


/* FILMS */

.section-header{
  font-weight: bold;
  padding: 10px;
  font-size: 25px;
  padding: 5px 10px;
  color: var(--no4);
  background-color: var(--no1);
  border-radius: 5px;
}

.films{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}


.film{
  width: 200px;
  position: relative;
  border-radius: 3px;
  background-color: var(--no1);
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 1);
  overflow: hidden;
}
.film img{
  width: 100%;
}

.film-info{
  color: var(--no4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;

}
.film-info h4{
  margin: 0;
}

.film-info span{
  background-color: var(--no2);
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 10px;
}

.film-info span.green{
  color: lightgreen;
}
.film-info span.orange{
  color: orange;
}

.overview{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 15px;
  background-color: #fff;
  color: black;
  padding: 5px;
  max-height: 70%;
  transform: translateY(101%);
  transition: transform 0.2s ease-in;
}
.film:hover .overview{
  transform: translateY(0)
}

.movie-image{
  width: 100%;
}

.movie-mid{
  width: 45%;
  background-color: #3f3f56;
  padding: 10px;
  height: inherit;
  border-radius: 5px;
  margin: 2px;
}
.movie-right{
  width: 25%;
  background-color: #3f3f56;
  padding: 10px;
  height: inherit;
  border-radius: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
}


/* ALERTS */

.alerts {
  visibility: hidden;
  min-width: 300px;
  margin-left: -125px;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 20px;
  z-index: 11;
}

.show-alerts-success {
  visibility: visible;
  background-color: #fff;
  color: #333;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.show-alerts-danger {
  visibility: visible;
  background-color: #FF7F7F;
  color: #fff;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 20px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 20px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 20px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 20px; opacity: 1;}
  to {top: 0; opacity: 0;}
}
